@model Xobnu.WebUI.Models.ForgotPasswordModel
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Login/_LoginLayout.cshtml";
}

<div class="row  center-all-items" style="margin-left: -2px;">
    <div style="display: table-cell;vertical-align: middle;">
        <center>
            <div style="max-width: 600px;background: rgba(0, 0, 0, 0.35);padding: 1px;border-radius: 15px;box-shadow: 0 7px 27px rgb(247, 247, 247);">
                <h2 class=" lighter bigger" style="color: #ffffff;max-width:350px;">
                    Reset Your Password
                </h2>
                <h5 style="color: #ffffff;margin-bottom:25px;max-width:500px;">Type in your email to recieve the password reset instructions </h5>

                @using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post))
                {
                    <label class="block clearfix">
                        <span class="block input-icon input-icon-right">
                            @Html.TextBoxFor(model => model.EmailAddress, new { placeholder = "Email", @class = "form-control", onblur = "if(this.value=='')this.value='Email'", onfocus = "if(this.value=='Email')this.value='' ", type = "email" })
                            <i class="icon-envelope"></i>
                        </span>
                    </label>

                    <h5 style="max-width:450px;color: #ff0000;">
                        @if (ViewBag.MessageFail != null)
                        { @ViewBag.MessageFail }
                    </h5>
                    <h5 style="max-width:450px;color: #00ff21;">
                        @if (ViewBag.MessagePass != null)
                        { @ViewBag.MessagePass }
                    </h5>

                    <div class="clearfix" style="margin-bottom: 20px;">
                        <button type="submit" class="btn btn-sm btn-primary btn-login-submit" id="btnsendme">
                            <i class="icon-lightbulb"></i>
                            Send Me!
                        </button>
                    </div>
                }
            </div>
</center>
    </div>
</div>

    

    <!-- basic scripts -->

    <!--[if !IE]> -->

    <script type="text/javascript">
        window.jQuery || document.write("<script src='assets/js/jquery-2.0.3.min.js'>" + "<" + "/script>");
    </script>

    <!-- <![endif]-->

    <!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

    <script type="text/javascript">
        if ("ontouchend" in document) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>

    <!-- inline scripts related to this page -->

    <script type="text/javascript">
        function show_box(id) {
            jQuery('.widget-box.visible').removeClass('visible');
            jQuery('#' + id).addClass('visible');
        }
    </script>


<script>

    $(document).ready(function () {
        // Handler for .ready() called.
    });

    $("#btnsendme123").click(function () {

        var _email = $("#txtemail").val()

        $.ajax({
            url: '@Url.Action("SendPassword", "SignUp")',
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: false,
            data: { email: _email }, //JSON.stringify(recruiter),
            success: function (result) {
                alert('sucess');
            },
            error: function (result) {
                alert('fail');
            }
        });

    });

</script>
