@{
    ViewBag.Title = "Error 404";
}

<h2>Error 404</h2>
<img src="http://placehold.it/600x250&text=Sorry :( We cannot find that page" />
@Html.ActionLink("Click here to go back to Home Page", "Index", "Home")
