@{
    ViewBag.Title = "Setup Sync";
    var userObj = Session["user"] as CorporateContacts.Domain.Entities.User;
    if (userObj.UserType == "Admin")
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else 
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }    
}

<h2>Primary Sources</h2>

@Html.ActionLink("New Source", "Login","NewSource");
